{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-sql"],
    "overrides": [
        {
            "files": "*.sql",
            "options": {
                "language": "postgresql",
                "keywordCase": "upper"
            }
        }
    ]
}
